.about {
    margin: 0;
    text-align: left;
    background-image: linear-gradient(to top, rgba(96, 96, 96, 0.662), rgb(255, 255, 255), rgba(96, 96, 96, 0.662));
    display: flex;
    justify-content: center;
    align-items: top;
}


.about-banner {
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: xxx-large;
    word-break: keep-all;
    text-align: left;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    background-image: linear-gradient(to right, rgb(0, 208, 255), rgba(192, 192, 192, 0.662));
    margin-bottom: 1rem;
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 30px rgb(139, 139, 139);

}

.about-us-text-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 7px;
    line-height: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.about-us-text-container li {
    list-style: inside;
}
.about-us-text-container h3 {
    margin: 0;
    display: flex;
    color: rgb(11, 181, 211);
    word-break: keep-all;
    font-size: 4vh;
    padding-top: 11%;
    padding-bottom: 3%;
    font-weight: 100;
}

.about-us-text-container h1 {
    color: rgb(62, 59, 59);
    margin-bottom: 3rem;
    font-size: large;
    padding: 2rem 2rem;
}


.logo-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    box-shadow: 0px 0px 14px 1px rgb(0, 0, 0);
}

.logo-container img {
    height: 20vw;
    width: 27vw;
    padding: 15px;
    max-width: 200px;
    max-height: 140px;
    object-fit: contain;
}


.about-us-text-container p {
    margin: 0;
    font-size: large;
    word-break: keep-all;
    padding-left: 5px;
}







.services-container {
    display: flex;
    align-items: top;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
    font-size: x-large;
    flex-direction: row;
    padding: 2rem 0;
    letter-spacing: -1px;
    word-spacing: 1px;
    background-color: rgba(235, 235, 235, 0.504);
}

.services {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
    background-image: url('../../images/white-bentley-before.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    color: white;
}

.services-overlay {
    width: 100%;
    background-color: rgba(73, 73, 73, 0.838);
}

.services-banner {
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: xxx-large;
    word-break: keep-all;
    text-align: left;
    width: 80%;
    border-radius: 10px;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    background-image: linear-gradient(to right, rgb(0, 208, 255), rgba(192, 192, 192, 0.662));
    margin-bottom: 2rem;
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 30px rgb(139, 139, 139);
}

.services-container p {
    padding: 2rem 0;
    margin: 0 auto;
    font-size: x-large;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

.color-theme {
    color: rgb(47, 217, 255);
}

.services-warranty-btn {
    margin: 10px auto;
    padding: 9px 25px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: small;
    font-weight: 500;
    background-color: rgb(0, 222, 0);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.253);
}



.services-section h6 {
    width: 65%;
    margin: 0 auto;
    text-align: left;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: small;
    padding-left: 5px;
    padding-bottom: 2rem;
}

.services-section a {
    text-decoration: none;
}

.service-we-dont-do {
    color: red;
}



@media only screen and (max-width: 1000px) {
    .about-us-text-container, .services-container {
        width: 100%;
    }
    .about-banner, .services-banner  {
        font-size: xx-large;
    }
    .about-us-text-container p  {
        font-size: medium;
    }
    .services-container p {
        width: 100%;
        padding: 1rem;
        font-size: large;
    }
    .services-banner {
        width: 100%;
        margin: 0 7px 1rem 7px;
    }
}



@media only screen and (max-width: 600px) {
    .about-banner, .services-banner {
        font-size: x-large;
    }
    .about-us-text-container p {
        font-size: small;
    }
    .services {
        background-position: center;
    }
}
