


.home-container {
  position: relative;
  text-align: center;
  color: white;
}

.home-background-audi {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(100%);
}

.home-text-top-left {
  position: absolute;
  top: 10rem;
  left: 5%;
  width: 50%;
  font-size: 55px;
  color: whitesmoke;
  text-align: left;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-locations-bottom {
  position: absolute;
  bottom: 1.5rem;
  width: 90%;
  margin: 0 auto;
  left: 5%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.927);
  padding: 1rem 1.5rem;
  border-radius: 80px;
  box-shadow: 0px 0px 45px 2px rgba(247, 0, 0, 0.482);
}

.home-p {
    color: rgb(2, 155, 15);
    font-weight: 600;
    box-shadow: 0px 0px 45px 2px rgba(255, 255, 255, 0.253);
    width: 50%;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-align: center;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vehicle-icons {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.vehicle-icons img {
    width: 15%;
    max-width: 130px;
    object-fit: contain;
    aspect-ratio: 3/2;
}
.vehicle-icons-inner-div-top {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 4.9rem;
}

.vehicle-icons-inner-div-bottom {
    display: flex;
    margin: 3rem 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    
}

h1 {
    font-size: x-large;
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.5rem 10px;
    text-align: center;
    background-image: linear-gradient(to left, rgba(222, 222, 222, 0.662), rgba(195, 192, 8, 0.571), rgba(221, 221, 221, 0.662));
    font-weight: 600;
    width: 100%;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.473);
    border-top: rgb(0, 0, 0) 3px solid;
    border-bottom: rgb(0, 0, 0)3px solid;
    
}

.locations {
    margin: auto;
    padding: 7px;
    font-weight: 100;
    font-size: medium;
    padding-top: 2rem;
    text-align: center;
    color: red;
}




.contacts {
    color: black;
}





@media only screen and (max-width: 1000px) { 
    .home-background-audi {
        filter: brightness(70%);
    }
    .home-text-top-left {
        font-size: xx-large;
    }
    
    .home-p {
        width: 85%;
    }
    
    
    h1 {
        font-size: large;
        margin-bottom: 1rem;
    }
    .vehicle-icons-inner-div-bottom {
        margin: 1rem 0;
    }
    
}

@media only screen and (max-width: 700px) {
    .company-logo {
        width: 100%;
    }
    .locations {
        font-size: medium;
    }
    .home-text-top-left {
        width: 70%;
        font-size: x-large;
    }
    
    
}

@media only screen and (max-width: 600px) {
    
    h1 {
        font-size: small;
        padding: 1rem 10px;
    }
    
}

