.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: small;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(120, 120, 120), rgb(0, 0, 0));
    background-color: white;
    margin: 0;
    border-bottom: 1px solid rgb(212, 3, 3);
    padding: 5px 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
}

.home-icons {
    margin: 10px 8px 0 0;
    width: 3.5rem;
    position: relative;
}

.nav-business-name {
    font-size: large;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.container{
    position:relative;
    display: flex;  
    width:100%;
    flex-direction: column;
  }

  .menu_container{
    position:fixed;
    width:100%;
    height:100vh;
    background-image: linear-gradient(to bottom, rgb(0, 208, 255), rgb(192, 192, 192));
    color:#fff;
    flex-direction: column;
    z-index: 200;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


ul {
    list-style: none;
}

li {
    margin: 20px 0;
}

.nav-number-mobile {
    display: none;
}




.nav-links {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: left;
    width: 100%;
    height: 90vh;
    font-size: xx-large;
    font-weight: 900;
    padding-top: 7rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




.close-btn-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    
}

.close-btn-div button {
    margin-right: 30px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: xx-large;
}



a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

span a:link {
    word-break: keep-all;
    margin: 0;
    padding: 0;
    color: rgb(0, 21, 255);
    font-size: xx-large;

}






a:visited {
    color: rgb(255, 255, 255);
}








@media only screen and (max-width: 700px) {
    span a:link {
        font-size: x-large;
    }
    .nav-links {
        justify-content: space-evenly;
        margin: 0;
        font-size: x-large;
    }
    
    .nav-business-name {
        font-size: medium;
    }
    .home-icons {
        width: 3rem;
    }
    
}

@media only screen and (max-width: 400px) {
    .nav-business-name {
        font-size: x-small;
    }
}






